.pytest_cache
**/.pbynb_checkpoints
**/*.ipynb
cache
params
**/__pycache__/*.*
dist
index
app_dict.json
api_dict.json
event_trader/huntings/.ipynb_checkpoints/
QR.png
.env
test-mail.py
db.sqlite3
market
